# Ansible Module release workflow.
name: CD

# This GitHub action creates a release when a tag that matches the pattern
# "v*" (e.g. v0.1.0) is created.
on:
  workflow_call:

# Releases need permissions to read and write the repository contents.
# GitHub considers creating releases and uploading assets as writing contents.
#permissions:
#  contents: write

# Default values to simplify job configurations below.
env:
  # Python language version to use This value should also be updated
  # in the testing workflow if changed.
  PYTHON_VERSION: '3.10'

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
    steps:
      - name: DevOpsArrBOT token
        id: DevOpsArrBOT
        uses: getsentry/action-github-app-token@v3
        with:
          app_id: '305652'
          private_key: ${{ secrets.DEVOPSARRBOT_PRIVATE_KEY }}
      - name: set DevOpsArrBOT config
        run: |
          git config --global user.name "devopsarr[bot]"
          git config --global user.email 127950054+devopsarr[bot]@users.noreply.github.com
      - uses: actions/checkout@v6
        with:
          # Allow relase please to access older tag information.
          fetch-depth: 0
          token: ${{ steps.DevOpsArrBOT.outputs.token }}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Release Please
        id: release_please
        uses: googleapis/release-please-action@v3
        with:
          release-type: python
          token: ${{ steps.DevOpsArrBOT.outputs.token }}
          extra-files: |
            galaxy.yml
      - name: Update changelog
        if: ${{ !steps.release_please.outputs.release_created }}
        run: |
          pip install antsibull-changelog --disable-pip-version-check &&\
          git fetch --all &&\
          git checkout release-please--branches--main &&\
          antsibull-changelog release --refresh &&\
          git add . &&\
          git commit --amend --no-edit &&\
          git push -f

  collection-release:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6
      - name: Upload collection to Ansible Galaxy
        uses: ansible/ansible-publish-action@v1.0.0
        with:
          api_key: ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
